.card, .cardContent, .cardText {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    text-align: center;
    /*border: 1px solid white;*/
}

.card, .cardContent {
    row-gap: 1rem;
}

.cardContent {
    min-width: 280px;
    max-width: 500px;
}

.cardContent img {
    width: 100%;
    box-shadow: 0px 0px 25px 2px black;
}

.card h2 {
    font-weight: 600;
}

.cardText p {
    margin: 0.7rem 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .cardContent {
        min-width: calc(280px - 2rem);
    }
}

/* Extra small devices (phones, 600px and down) */
/*@media only screen and (max-width: 600px) {*/
/*    .cardContent {*/
/*        min-width: 280px;*/
/*        max-width: 350px;*/
/*    }*/

/*    .cardContent img {*/
/*        width: 100%;*/
/*    }*/
/*}*/
