footer {
    bottom: 0;
    width: 100%;
    margin: 0;
    background: #005684;
}

footer ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    /*font-size: 1rem;*/
    font-weight: 800;
    list-style: none;
}

footer li {
    padding: 0.5rem;
}
