nav {
    position: sticky;
    top: 0;
    width: 100%;
    margin: 0;
    background: #131516;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /*border-bottom: 2px solid black;*/
    border-bottom: 2px solid #122646;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    font-size: 1.3em;
    font-weight: 800;
    list-style: none;
}

nav li {
    padding: 1.5em;
}

nav li:last-child {
    background: #122646;
}

nav a {
    text-decoration: none;
    color: #d8d4cf;
}

.inactive {
    /*color: white;*/
}
.active {
    color: #d89468;
}


/* screen 420*/
