.NotFound {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #360000;
}

.NotFound p {
    font-size: 2em;
    font-weight: 500;
}