.card, .cardContent, .cardText {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*border: 1px solid white;*/
}

.card {
    row-gap: 1em;
}

.card h2 {
    font-size: 2em;
    font-weight: 600;
}

.cardContent {
    padding: 0 1em;
    font-size: 1.4em;
}

.cardText p {
    margin: 0.7em 0;
}

.cardLinks {
    align-self: center;
}

@media only screen and (max-width: 470px) {

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .cardContent {
        min-width: 280px;
        max-width: 350px;
    }

    .cardContent img {
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .cardContent img {
        width: 590px;
}}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .cardContent img {
        width: 730px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .card img {
        width: 800px;
}}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .cardContent {
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        column-gap: 3em;
    }

    .card h2 {
        width: 100%;
    }
}
